/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-color: var(--bg-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* Recording sign */

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: inline-block;
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  right: 10px;
  top: 10px;
  border-block-start: 1px solid var(--secondary-color);
  border-inline-end: 1px solid var(--secondary-color);

  @media (width >= 768px) {
    right: 20px;
    top: 20px;
  }
}

.decorated-zone::after {
  content: '';
  block-size: 25px;
  inline-size: 25px;
  position: absolute;
  top: 634px;
  left: 10px;
  border-block-end: 1px solid var(--secondary-color);
  border-inline-start: 1px solid var(--secondary-color);
  border-block-start: none;
  border-inline-end: none;

  @media (width >= 768px) {
    top: 978px;
    left: 20px;
  }
}

.rec {
  position: absolute;
  top: 3px;
  right: 0;
}

.rec__text {
  text-transform: uppercase;
  color: var(--secondary-color);
  position: absolute;
  top: 8px;
  right: 39px;

  @media (width >= 768px) {
    right: 49px;
    top: 18px;
  }
}

.rec__dot::before {
  content: '';
  position: absolute;
  right: 18px;
  top: 15px;
  background-color: var(--accent-color);
  border-radius: 50%;
  block-size: 9px;
  inline-size: 9px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  display: inline-block;

    @media (width >= 768px) {
    right: 30px;
    top: 25px;
}
}

/* Header section */

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  block-size: 100vh;
  min-block-size: 668px;
  padding-inline: 10px;

  @media (width>=768px) {
    padding-inline-end: 20px;
    padding-inline-start: 0;
  }
}

/* theme buttons */

.header__theme-menu-list{
  display: grid;
  justify-content: end;
  row-gap: 10px;
  color: var(--secondary-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
  inline-size: 26px;
  line-height: 18px;
  padding: 1px 13px 2px;
  text-transform: lowercase;
  cursor: pointer;
  outline: 1px solid transparent;
}

/* button states */

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--secondary-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid color-mix(in sRGB, var(--secondary-color) 40%, transparent);
  cursor: pointer;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--secondary-color);
}

/* hero section */

.hero__text {
  color: var(--hero__text-color);
  font-family: inherit;
  font-size: var(--hero-text-font-size);
  font-weight: bold;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 95.7px;
  display: inline-block;
}

.hero__title {
  grid-row: 3/4;
  margin-top: -12px;
}

.title-decor {
  background-color: var(--accent-color);
  --text-color: #000028;
  color: var(--text-color);
  font-size: var(--main-font-size);
}

/* main section */

.content {
  padding-block: 40px;
  padding-inline: 10px;
  line-height: 23.4px;

  @media (width >= 768px) {
    padding-block: 60px;
    padding-inline: 20px;
  }
}

.content__section {
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  margin-block-end: 50px;
}

.content__section-text {
  margin-block-start: 10px;
  margin-block-end: 20px;
}

.content__section-heading {
  font-family: inherit;
  font-size: inherit;
  color: var(--accent-color);
  margin-block-end: 20px;
}

.content__section-title {
  margin-block-end: 10px;
}

.content__link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
}

/* link states */

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--text-color);
}

/* gallery section */

.gallery__items {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  gap: 10px;
}

.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

.gallery__heading {
  margin-block-end: 10px;
}

/* footer */

.footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.footer__text {
  text-align: center;
  grid-row: 1 / 2;
  align-self: center;
}

/* tablet media queries */

@media (width>=768px) {

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .hero__text {
    grid-row: 2/3;
    grid-column: 1/3;
  }

  .hero__title {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  
  .content__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
    margin-block-end: 60px;
  }

  .reasons__text, .solutions__text {
    grid-column: 2/3;
  }

  .factors__text {
    grid-column: 1/3;
  }
  
  .gallery__heading {
  margin-block-end: 17px;
  }

  .gallery__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 20px;
  }

  .gallery__item:nth-child(1) {
    grid-column: 1/3;
  }

  .gallery__item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 3/4;
  }

  .gallery__item:nth-child(3) {
    grid-row: 2/4;
    grid-column: 1/2;
  }

  .gallery__item:nth-child(5) {
    grid-row: 3/4;
    grid-column: 2/4;
  } 
}

/* desktop media queries */

@media (width>=768px) {

}

